<div class="contents row">
  <%= form_tag('/items', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input type="text" name="name" placeholder="Nickname">
    <input type="text" name="image" placeholder="Image Url">
    
    <textarea name="text" placeholder="text" rows="10" cols="30"></textarea> 
    <!-- 上のimage は保存している画像を引っ張り出してくるような呼び出しをしたい -->
    <input type="submit" value="SENT">
  <% end %>
</div>